In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fifa-world-cup-2022-complete-dataset/Fifa_world_cup_matches.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [3]:
df=pd.read_csv('/kaggle/input/fifa-world-cup-2022-complete-dataset/Fifa_world_cup_matches.csv')

In [4]:
df.head(5)

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 88 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   team1                                                  64 non-null     object
 1   team2                                                  64 non-null     object
 2   possession team1                                       64 non-null     object
 3   possession team2                                       64 non-null     object
 4   possession in contest                                  64 non-null     object
 5   number of goals team1                                  64 non-null     int64
 6   number of goals team2                                  64 non-null     int64
 7   date                                                   64 non-null     object
 8   hour                                                   64 non-null     object
 9   category                                               64 non-null     object
 10  total attempts team1                                   64 non-null     int64
 11  total attempts team2                                   64 non-null     int64
 12  conceded team1                                         64 non-null     int64
 13  conceded team2                                         64 non-null     int64
 14  goal inside the penalty area team1                     64 non-null     int64
 15  goal inside the penalty area team2                     64 non-null     int64
 16  goal outside the penalty area team1                    64 non-null     int64
 17  goal outside the penalty area team2                    64 non-null     int64
 18  assists team1                                          64 non-null     int64
 19  assists team2                                          64 non-null     int64
 20  on target attempts team1                               64 non-null     int64
 21  on target attempts team2                               64 non-null     int64
 22  off target attempts team1                              64 non-null     int64
 23  off target attempts team2                              64 non-null     int64
 24  attempts inside the penalty area team1                 64 non-null     int64
 25  attempts inside the penalty area  team2                64 non-null     int64
 26  attempts outside the penalty area  team1               64 non-null     int64
 27  attempts outside the penalty area  team2               64 non-null     int64
 28  left channel team1                                     64 non-null     int64
 29  left channel team2                                     64 non-null     int64
 30  left inside channel team1                              64 non-null     int64
 31  left inside channel team2                              64 non-null     int64
 32  central channel team1                                  64 non-null     int64
 33  central channel team2                                  64 non-null     int64
 34  right inside channel team1                             64 non-null     int64
 35  right inside channel team2                             64 non-null     int64
 36  right channel team1                                    64 non-null     int64
 37  right channel team2                                    64 non-null     int64
 38  total offers to receive team1                          64 non-null     int64
 39  total offers to receive team2                          64 non-null     int64
 40  inbehind offers to receive team1                       64 non-null     int64
 41  inbehind offers to receive team2                       64 non-null     int64
 42  inbetween offers to receive team1                      64 non-null     int64
 43  inbetween offers to receive team2                      64 non-null     int64
 44  infront offers to receive team1                        64 non-null     int64
 45  infront offers to receive team2                        64 non-null     int64
 46  receptions between midfield and defensive lines team1  64 non-null     int64
 47  receptions between midfield and defensive lines team2  64 non-null     int64
 48  attempted line breaks team1                            64 non-null     int64
 49  attempted line breaks team2                            64 non-null     int64
 50  completed line breaksteam1                             64 non-null     int64
 51  completed line breaks team2                            64 non-null     int64
 52  attempted defensive line breaks team1                  64 non-null     int64
 53  attempted defensive line breaks team2                  64 non-null     int64
 54  completed defensive line breaksteam1                   64 non-null     int64
 55  completed defensive line breaks team2                  64 non-null     int64
 56  yellow cards team1                                     64 non-null     int64
 57  yellow cards team2                                     64 non-null     int64
 58  red cards team1                                        64 non-null     int64
 59  red cards team2                                        64 non-null     int64
 60  fouls against team1                                    64 non-null     int64
 61  fouls against team2                                    64 non-null     int64
 62  offsides team1                                         64 non-null     int64
 63  offsides team2                                         64 non-null     int64
 64  passes team1                                           64 non-null     int64
 65  passes team2                                           64 non-null     int64
 66  passes completed team1                                 64 non-null     int64
 67  passes completed team2                                 64 non-null     int64
 68  crosses team1                                          64 non-null     int64
 69  crosses team2                                          64 non-null     int64
 70  crosses completed team1                                64 non-null     int64
 71  crosses completed team2                                64 non-null     int64
 72  switches of play completed team1                       64 non-null     int64
 73  switches of play completed team2                       64 non-null     int64
 74  corners team1                                          64 non-null     int64
 75  corners team2                                          64 non-null     int64
 76  free kicks team1                                       64 non-null     int64
 77  free kicks team2                                       64 non-null     int64
 78  penalties scored team1                                 64 non-null     int64
 79  penalties scored team2                                 64 non-null     int64
 80  goal preventions team1                                 64 non-null     int64
 81  goal preventions team2                                 64 non-null     int64
 82  own goals team1                                        64 non-null     int64
 83  own goals team2                                        64 non-null     int64
 84  forced turnovers team1                                 64 non-null     int64
 85  forced turnovers team2                                 64 non-null     int64
 86  defensive pressures applied team1                      64 non-null     int64
 87  defensive pressures applied team2                      64 non-null     int64
dtypes: int64(80), object(8)
memory usage: 44.1+ KB

## Check if any value is missing

In [6]:
t=df.columns

In [7]:
for i in t:
    print(i + ' ',df.loc[:,i].isna().sum())

team1  0
team2  0
possession team1  0
possession team2  0
possession in contest  0
number of goals team1  0
number of goals team2  0
date  0
hour  0
category  0
total attempts team1  0
total attempts team2  0
conceded team1  0
conceded team2  0
goal inside the penalty area team1  0
goal inside the penalty area team2  0
goal outside the penalty area team1  0
goal outside the penalty area team2  0
assists team1  0
assists team2  0
on target attempts team1  0
on target attempts team2  0
off target attempts team1  0
off target attempts team2  0
attempts inside the penalty area team1  0
attempts inside the penalty area  team2  0
attempts outside the penalty area  team1  0
attempts outside the penalty area  team2  0
left channel team1  0
left channel team2  0
left inside channel team1  0
left inside channel team2  0
central channel team1  0
central channel team2  0
right inside channel team1  0
right inside channel team2  0
right channel team1  0
right channel team2  0
total offers to receive team1  0
total offers to receive team2  0
inbehind offers to receive team1  0
inbehind offers to receive team2  0
inbetween offers to receive team1  0
inbetween offers to receive team2  0
infront offers to receive team1  0
infront offers to receive team2  0
receptions between midfield and defensive lines team1  0
receptions between midfield and defensive lines team2  0
attempted line breaks team1  0
attempted line breaks team2  0
completed line breaksteam1  0
completed line breaks team2  0
attempted defensive line breaks team1  0
attempted defensive line breaks team2  0
completed defensive line breaksteam1  0
completed defensive line breaks team2  0
yellow cards team1  0
yellow cards team2  0
red cards team1  0
red cards team2  0
fouls against team1  0
fouls against team2  0
offsides team1  0
offsides team2  0
passes team1  0
passes team2  0
passes completed team1  0
passes completed team2  0
crosses team1  0
crosses team2  0
crosses completed team1  0
crosses completed team2  0
switches of play completed team1  0
switches of play completed team2  0
corners team1  0
corners team2  0
free kicks team1  0
free kicks team2  0
penalties scored team1  0
penalties scored team2  0
goal preventions team1  0
goal preventions team2  0
own goals team1  0
own goals team2  0
forced turnovers team1  0
forced turnovers team2  0
defensive pressures applied team1  0
defensive pressures applied team2  0

In [8]:
df.columns

Index(['team1', 'team2', 'possession team1', 'possession team2',
       'possession in contest', 'number of goals team1',
       'number of goals team2', 'date', 'hour', 'category',
       'total attempts team1', 'total attempts team2', 'conceded team1',
       'conceded team2', 'goal inside the penalty area team1',
       'goal inside the penalty area team2',
       'goal outside the penalty area team1',
       'goal outside the penalty area team2', 'assists team1', 'assists team2',
       'on target attempts team1', 'on target attempts team2',
       'off target attempts team1', 'off target attempts team2',
       'attempts inside the penalty area team1',
       'attempts inside the penalty area  team2',
       'attempts outside the penalty area  team1',
       'attempts outside the penalty area  team2', 'left channel team1',
       'left channel team2', 'left inside channel team1',
       'left inside channel team2', 'central channel team1',
       'central channel team2', 'right inside channel team1',
       'right inside channel team2', 'right channel team1',
       'right channel team2', 'total offers to receive team1',
       'total offers to receive team2', 'inbehind offers to receive team1',
       'inbehind offers to receive team2', 'inbetween offers to receive team1',
       'inbetween offers to receive team2', 'infront offers to receive team1',
       'infront offers to receive team2',
       'receptions between midfield and defensive lines team1',
       'receptions between midfield and defensive lines team2',
       'attempted line breaks team1', 'attempted line breaks team2',
       'completed line breaksteam1', 'completed line breaks team2',
       'attempted defensive line breaks team1',
       'attempted defensive line breaks team2',
       'completed defensive line breaksteam1',
       'completed defensive line breaks team2', 'yellow cards team1',
       'yellow cards team2', 'red cards team1', 'red cards team2',
       'fouls against team1', 'fouls against team2', 'offsides team1',
       'offsides team2', 'passes team1', 'passes team2',
       'passes completed team1', 'passes completed team2', 'crosses team1',
       'crosses team2', 'crosses completed team1', 'crosses completed team2',
       'switches of play completed team1', 'switches of play completed team2',
       'corners team1', 'corners team2', 'free kicks team1',
       'free kicks team2', 'penalties scored team1', 'penalties scored team2',
       'goal preventions team1', 'goal preventions team2', 'own goals team1',
       'own goals team2', 'forced turnovers team1', 'forced turnovers team2',
       'defensive pressures applied team1',
       'defensive pressures applied team2'],
      dtype='object')

In [9]:
df[['team1', 'team2','number of goals team1','number of goals team2','goal inside the penalty area team1',
    'goal inside the penalty area team2','goal outside the penalty area team1','goal outside the penalty area team2']]

,team1,team2,number of goals team1,number of goals team2,goal inside the penalty area team1,goal inside the penalty area team2,goal outside the penalty area team1,goal outside the penalty area team2
0,QATAR,ECUADOR,0,2,0,2,0,0
1,ENGLAND,IRAN,6,2,6,2,0,0
2,SENEGAL,NETHERLANDS,0,2,0,2,0,0
3,UNITED STATES,WALES,1,1,1,1,0,0
4,ARGENTINA,SAUDI ARABIA,1,2,1,2,0,0
...,...,...,...,...,...,...,...,...
59,ENGLAND,FRANCE,1,2,1,1,0,1
60,ARGENTINA,CROATIA,3,0,3,0,0,0
61,FRANCE,MOROCCO,2,0,2,0,0,0
62,CROATIA,MOROCCO,2,1,2,1,0,0
63,ARGENTINA,FRANCE,3,3,3,3,0,0

## The sum of â€˜scoreâ€™ for each team

In [10]:
part1=df.groupby('team1')['number of goals team1'].sum()
part1

team1
ARGENTINA         11
AUSTRALIA          1
BELGIUM            1
BRAZIL             7
CAMEROON           4
CANADA             1
COSTA RICA         2
CROATIA            7
DENMARK            0
ECUADOR            1
ENGLAND           10
FRANCE            11
GERMANY            1
GHANA              0
IRAN               0
JAPAN              3
KOREA REPUBLIC     4
MEXICO             0
MOROCCO            1
NETHERLANDS        8
POLAND             2
PORTUGAL          11
QATAR              1
SAUDI ARABIA       1
SENEGAL            0
SERBIA             2
SPAIN              8
SWITZERLAND        1
TUNISIA            1
UNITED STATES      1
URUGUAY            0
WALES              0
Name: number of goals team1, dtype: int64

In [11]:
part2=df.groupby('team2')['number of goals team2'].sum()
part2

team2
ARGENTINA         4
AUSTRALIA         3
BELGIUM           0
BRAZIL            1
CAMEROON          0
CANADA            1
COSTA RICA        1
CROATIA           1
DENMARK           1
ECUADOR           3
ENGLAND           3
FRANCE            5
GERMANY           5
GHANA             5
IRAN              4
JAPAN             2
KOREA REPUBLIC    1
MEXICO            2
MOROCCO           5
NETHERLANDS       2
POLAND            1
PORTUGAL          1
QATAR             0
SAUDI ARABIA      2
SENEGAL           5
SERBIA            3
SPAIN             1
SWITZERLAND       4
TUNISIA           0
UNITED STATES     2
URUGUAY           2
WALES             1
Name: number of goals team2, dtype: int64

In [12]:
total=part1+part2
total.sort_values(ascending=False)

team1
FRANCE            16
ARGENTINA         15
ENGLAND           13
PORTUGAL          12
NETHERLANDS       10
SPAIN              9
BRAZIL             8
CROATIA            8
GERMANY            6
MOROCCO            6
JAPAN              5
SWITZERLAND        5
SERBIA             5
SENEGAL            5
KOREA REPUBLIC     5
GHANA              5
IRAN               4
AUSTRALIA          4
ECUADOR            4
CAMEROON           4
UNITED STATES      3
COSTA RICA         3
SAUDI ARABIA       3
POLAND             3
CANADA             2
MEXICO             2
URUGUAY            2
QATAR              1
DENMARK            1
BELGIUM            1
TUNISIA            1
WALES              1
dtype: int64

## The sum of 'score' inside the penalty area for each team

In [13]:
inside1=df.groupby('team1')['goal inside the penalty area team1'].sum()

In [14]:
inside2=df.groupby('team2')['goal inside the penalty area team2'].sum()

In [15]:
inside=inside1+inside2
inside

team1
ARGENTINA         14
AUSTRALIA          3
BELGIUM            1
BRAZIL             8
CAMEROON           4
CANADA             1
COSTA RICA         3
CROATIA            7
DENMARK            1
ECUADOR            4
ENGLAND           12
FRANCE            15
GERMANY            6
GHANA              5
IRAN               3
JAPAN              4
KOREA REPUBLIC     4
MEXICO             1
MOROCCO            5
NETHERLANDS        9
POLAND             3
PORTUGAL          11
QATAR              1
SAUDI ARABIA       3
SENEGAL            5
SERBIA             4
SPAIN              9
SWITZERLAND        5
TUNISIA            0
UNITED STATES      3
URUGUAY            2
WALES              1
dtype: int64

## The sum of 'score' outside the penalty area for each team

In [16]:
outside1=df.groupby('team1')['goal outside the penalty area team1'].sum()

In [17]:
outside2=df.groupby(['team2'])['goal outside the penalty area team2'].sum()

In [18]:
outside=outside1+outside2
outside

team1
ARGENTINA         1
AUSTRALIA         0
BELGIUM           0
BRAZIL            0
CAMEROON          0
CANADA            0
COSTA RICA        0
CROATIA           1
DENMARK           0
ECUADOR           0
ENGLAND           1
FRANCE            1
GERMANY           0
GHANA             0
IRAN              1
JAPAN             1
KOREA REPUBLIC    1
MEXICO            1
MOROCCO           1
NETHERLANDS       1
POLAND            0
PORTUGAL          1
QATAR             0
SAUDI ARABIA      0
SENEGAL           0
SERBIA            1
SPAIN             0
SWITZERLAND       0
TUNISIA           1
UNITED STATES     0
URUGUAY           0
WALES             0
dtype: int64

In [19]:
df[['team1', 'team2','yellow cards team1','yellow cards team2','red cards team1','red cards team2']]

,team1,team2,yellow cards team1,yellow cards team2,red cards team1,red cards team2
0,QATAR,ECUADOR,4,2,0,0
1,ENGLAND,IRAN,0,2,0,0
2,SENEGAL,NETHERLANDS,2,1,0,0
3,UNITED STATES,WALES,4,2,0,0
4,ARGENTINA,SAUDI ARABIA,0,6,0,0
...,...,...,...,...,...,...
59,ENGLAND,FRANCE,1,3,0,0
60,ARGENTINA,CROATIA,2,2,0,0
61,FRANCE,MOROCCO,0,1,0,0
62,CROATIA,MOROCCO,0,2,0,0
63,ARGENTINA,FRANCE,4,3,0,0

## The sum of 'Yellow cards' for each team

In [20]:
cards1=df.groupby('team1')['yellow cards team1'].sum()
cards1

team1
ARGENTINA          7
AUSTRALIA          2
BELGIUM            4
BRAZIL             1
CAMEROON           7
CANADA             4
COSTA RICA         1
CROATIA            4
DENMARK            2
ECUADOR            0
ENGLAND            1
FRANCE             2
GERMANY            0
GHANA              2
IRAN               3
JAPAN              6
KOREA REPUBLIC     4
MEXICO             2
MOROCCO            5
NETHERLANDS       11
POLAND             4
PORTUGAL           5
QATAR              7
SAUDI ARABIA       6
SENEGAL            2
SERBIA             7
SPAIN              1
SWITZERLAND        2
TUNISIA            4
UNITED STATES      4
URUGUAY            1
WALES              3
Name: yellow cards team1, dtype: int64

In [21]:
cards2=df.groupby('team2')['yellow cards team2'].sum()
cards2

team2
ARGENTINA         9
AUSTRALIA         5
BELGIUM           1
BRAZIL            5
CAMEROON          1
CANADA            4
COSTA RICA        5
CROATIA           4
DENMARK           3
ECUADOR           3
ENGLAND           0
FRANCE            6
GERMANY           3
GHANA             6
IRAN              4
JAPAN             0
KOREA REPUBLIC    2
MEXICO            5
MOROCCO           4
NETHERLANDS       1
POLAND            3
PORTUGAL          1
QATAR             0
SAUDI ARABIA      8
SENEGAL           5
SERBIA            5
SPAIN             1
SWITZERLAND       7
TUNISIA           1
UNITED STATES     1
URUGUAY           7
WALES             2
Name: yellow cards team2, dtype: int64

In [22]:
cards_Y=cards1+cards2
cards_Y

team1
ARGENTINA         16
AUSTRALIA          7
BELGIUM            5
BRAZIL             6
CAMEROON           8
CANADA             8
COSTA RICA         6
CROATIA            8
DENMARK            5
ECUADOR            3
ENGLAND            1
FRANCE             8
GERMANY            3
GHANA              8
IRAN               7
JAPAN              6
KOREA REPUBLIC     6
MEXICO             7
MOROCCO            9
NETHERLANDS       12
POLAND             7
PORTUGAL           6
QATAR              7
SAUDI ARABIA      14
SENEGAL            7
SERBIA            12
SPAIN              2
SWITZERLAND        9
TUNISIA            5
UNITED STATES      5
URUGUAY            8
WALES              5
dtype: int64

## The sum of 'Red cards' for each team

In [23]:
cards_r_1=df.groupby('team1')['red cards team1'].sum()
cards_r_1

team1
ARGENTINA         0
AUSTRALIA         0
BELGIUM           0
BRAZIL            0
CAMEROON          1
CANADA            0
COSTA RICA        0
CROATIA           0
DENMARK           0
ECUADOR           0
ENGLAND           0
FRANCE            0
GERMANY           0
GHANA             0
IRAN              0
JAPAN             0
KOREA REPUBLIC    0
MEXICO            0
MOROCCO           1
NETHERLANDS       1
POLAND            0
PORTUGAL          0
QATAR             0
SAUDI ARABIA      0
SENEGAL           0
SERBIA            0
SPAIN             0
SWITZERLAND       0
TUNISIA           0
UNITED STATES     0
URUGUAY           0
WALES             1
Name: red cards team1, dtype: int64

In [24]:
cards_r_2=df.groupby('team2')['red cards team2'].sum()
cards_r_2

team2
ARGENTINA         0
AUSTRALIA         0
BELGIUM           0
BRAZIL            0
CAMEROON          0
CANADA            0
COSTA RICA        0
CROATIA           0
DENMARK           0
ECUADOR           0
ENGLAND           0
FRANCE            0
GERMANY           0
GHANA             0
IRAN              0
JAPAN             0
KOREA REPUBLIC    0
MEXICO            0
MOROCCO           0
NETHERLANDS       0
POLAND            0
PORTUGAL          0
QATAR             0
SAUDI ARABIA      0
SENEGAL           0
SERBIA            0
SPAIN             0
SWITZERLAND       0
TUNISIA           0
UNITED STATES     0
URUGUAY           0
WALES             0
Name: red cards team2, dtype: int64

In [25]:
cards_R=cards_r_1+cards_r_2
cards_R

team1
ARGENTINA         0
AUSTRALIA         0
BELGIUM           0
BRAZIL            0
CAMEROON          1
CANADA            0
COSTA RICA        0
CROATIA           0
DENMARK           0
ECUADOR           0
ENGLAND           0
FRANCE            0
GERMANY           0
GHANA             0
IRAN              0
JAPAN             0
KOREA REPUBLIC    0
MEXICO            0
MOROCCO           1
NETHERLANDS       1
POLAND            0
PORTUGAL          0
QATAR             0
SAUDI ARABIA      0
SENEGAL           0
SERBIA            0
SPAIN             0
SWITZERLAND       0
TUNISIA           0
UNITED STATES     0
URUGUAY           0
WALES             1
dtype: int64

In [26]:
t

Index(['team1', 'team2', 'possession team1', 'possession team2',
       'possession in contest', 'number of goals team1',
       'number of goals team2', 'date', 'hour', 'category',
       'total attempts team1', 'total attempts team2', 'conceded team1',
       'conceded team2', 'goal inside the penalty area team1',
       'goal inside the penalty area team2',
       'goal outside the penalty area team1',
       'goal outside the penalty area team2', 'assists team1', 'assists team2',
       'on target attempts team1', 'on target attempts team2',
       'off target attempts team1', 'off target attempts team2',
       'attempts inside the penalty area team1',
       'attempts inside the penalty area  team2',
       'attempts outside the penalty area  team1',
       'attempts outside the penalty area  team2', 'left channel team1',
       'left channel team2', 'left inside channel team1',
       'left inside channel team2', 'central channel team1',
       'central channel team2', 'right inside channel team1',
       'right inside channel team2', 'right channel team1',
       'right channel team2', 'total offers to receive team1',
       'total offers to receive team2', 'inbehind offers to receive team1',
       'inbehind offers to receive team2', 'inbetween offers to receive team1',
       'inbetween offers to receive team2', 'infront offers to receive team1',
       'infront offers to receive team2',
       'receptions between midfield and defensive lines team1',
       'receptions between midfield and defensive lines team2',
       'attempted line breaks team1', 'attempted line breaks team2',
       'completed line breaksteam1', 'completed line breaks team2',
       'attempted defensive line breaks team1',
       'attempted defensive line breaks team2',
       'completed defensive line breaksteam1',
       'completed defensive line breaks team2', 'yellow cards team1',
       'yellow cards team2', 'red cards team1', 'red cards team2',
       'fouls against team1', 'fouls against team2', 'offsides team1',
       'offsides team2', 'passes team1', 'passes team2',
       'passes completed team1', 'passes completed team2', 'crosses team1',
       'crosses team2', 'crosses completed team1', 'crosses completed team2',
       'switches of play completed team1', 'switches of play completed team2',
       'corners team1', 'corners team2', 'free kicks team1',
       'free kicks team2', 'penalties scored team1', 'penalties scored team2',
       'goal preventions team1', 'goal preventions team2', 'own goals team1',
       'own goals team2', 'forced turnovers team1', 'forced turnovers team2',
       'defensive pressures applied team1',
       'defensive pressures applied team2'],
      dtype='object')

In [27]:
df[['team1', 'team2','total attempts team2','total attempts team1','on target attempts team1',
'on target attempts team2','off target attempts team1', 'off target attempts team2']]

,team1,team2,total attempts team2,total attempts team1,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2
0,QATAR,ECUADOR,6,5,0,3,5,3
1,ENGLAND,IRAN,8,13,7,3,3,4
2,SENEGAL,NETHERLANDS,9,14,3,3,8,5
3,UNITED STATES,WALES,7,6,1,3,4,3
4,ARGENTINA,SAUDI ARABIA,3,14,6,2,5,0
...,...,...,...,...,...,...,...,...
59,ENGLAND,FRANCE,9,14,6,5,4,3
60,ARGENTINA,CROATIA,12,10,7,3,2,7
61,FRANCE,MOROCCO,13,14,2,1,8,6
62,CROATIA,MOROCCO,7,14,4,2,8,5
63,ARGENTINA,FRANCE,10,21,9,5,9,3

## The average of â€˜attemptsâ€™ for each team

In [28]:
attempts1=df.groupby('team1')['total attempts team1'].mean()
attempts1

team1
ARGENTINA         12.800000
AUSTRALIA          8.000000
BELGIUM            9.500000
BRAZIL            17.000000
CAMEROON          10.000000
CANADA             5.000000
COSTA RICA         8.000000
CROATIA           11.750000
DENMARK           11.000000
ECUADOR            8.000000
ENGLAND           10.750000
FRANCE            18.250000
GERMANY           25.000000
GHANA              9.000000
IRAN               6.000000
JAPAN             10.666667
KOREA REPUBLIC    16.500000
MEXICO            13.000000
MOROCCO            7.666667
NETHERLANDS        7.750000
POLAND             6.000000
PORTUGAL          13.000000
QATAR              7.500000
SAUDI ARABIA      10.000000
SENEGAL           14.000000
SERBIA            11.000000
SPAIN             12.000000
SWITZERLAND        8.000000
TUNISIA            9.000000
UNITED STATES      6.000000
URUGUAY           10.000000
WALES              8.500000
Name: total attempts team1, dtype: float64

In [29]:
attempts2=df.groupby('team2')['total attempts team2'].mean()
attempts2

team2
ARGENTINA         20.000000
AUSTRALIA          5.666667
BELGIUM           15.000000
BRAZIL            19.500000
CAMEROON           7.000000
CANADA            15.000000
COSTA RICA         2.000000
CROATIA           11.333333
DENMARK           12.000000
ECUADOR            9.500000
ENGLAND           17.000000
FRANCE             9.333333
GERMANY           21.000000
GHANA              8.000000
IRAN              14.500000
JAPAN             10.000000
KOREA REPUBLIC     8.000000
MEXICO            14.500000
MOROCCO            9.500000
NETHERLANDS        9.000000
POLAND             9.500000
PORTUGAL          11.500000
QATAR              6.000000
SAUDI ARABIA       9.500000
SENEGAL           12.333333
SERBIA            10.000000
SPAIN             13.500000
SWITZERLAND        9.333333
TUNISIA           11.000000
UNITED STATES     13.333333
URUGUAY           11.000000
WALES              7.000000
Name: total attempts team2, dtype: float64

In [30]:
Avg_attempts=(attempts1+attempts2)/2
Avg_attempts

team1
ARGENTINA         16.400000
AUSTRALIA          6.833333
BELGIUM           12.250000
BRAZIL            18.250000
CAMEROON           8.500000
CANADA            10.000000
COSTA RICA         5.000000
CROATIA           11.541667
DENMARK           11.500000
ECUADOR            8.750000
ENGLAND           13.875000
FRANCE            13.791667
GERMANY           23.000000
GHANA              8.500000
IRAN              10.250000
JAPAN             10.333333
KOREA REPUBLIC    12.250000
MEXICO            13.750000
MOROCCO            8.583333
NETHERLANDS        8.375000
POLAND             7.750000
PORTUGAL          12.250000
QATAR              6.750000
SAUDI ARABIA       9.750000
SENEGAL           13.166667
SERBIA            10.500000
SPAIN             12.750000
SWITZERLAND        8.666667
TUNISIA           10.000000
UNITED STATES      9.666667
URUGUAY           10.500000
WALES              7.750000
dtype: float64

In [31]:
df[['team1', 'team2','on target attempts team2', 'on target attempts team2',
       'off target attempts team1', 'off target attempts team2']]

,team1,team2,on target attempts team2,on target attempts team2,off target attempts team1,off target attempts team2
0,QATAR,ECUADOR,3,3,5,3
1,ENGLAND,IRAN,3,3,3,4
2,SENEGAL,NETHERLANDS,3,3,8,5
3,UNITED STATES,WALES,3,3,4,3
4,ARGENTINA,SAUDI ARABIA,2,2,5,0
...,...,...,...,...,...,...
59,ENGLAND,FRANCE,5,5,4,3
60,ARGENTINA,CROATIA,3,3,2,7
61,FRANCE,MOROCCO,1,1,8,6
62,CROATIA,MOROCCO,2,2,8,5
63,ARGENTINA,FRANCE,5,5,9,3

## The average of â€˜on target attemptsâ€™ for each team

In [32]:
attempts_on_1=df.groupby('team1')['on target attempts team1'].mean()
attempts_on_1

team1
ARGENTINA         5.800000
AUSTRALIA         4.000000
BELGIUM           3.500000
BRAZIL            8.000000
CAMEROON          5.500000
CANADA            0.000000
COSTA RICA        6.000000
CROATIA           4.750000
DENMARK           4.000000
ECUADOR           4.000000
ENGLAND           5.000000
FRANCE            5.500000
GERMANY           9.000000
GHANA             4.000000
IRAN              2.000000
JAPAN             3.333333
KOREA REPUBLIC    6.000000
MEXICO            4.000000
MOROCCO           2.666667
NETHERLANDS       3.250000
POLAND            1.500000
PORTUGAL          6.000000
QATAR             1.000000
SAUDI ARABIA      2.000000
SENEGAL           3.000000
SERBIA            4.000000
SPAIN             5.000000
SWITZERLAND       3.000000
TUNISIA           3.500000
UNITED STATES     1.000000
URUGUAY           0.000000
WALES             2.000000
Name: on target attempts team1, dtype: float64

In [33]:
attempts_on_2=df.groupby('team2')['on target attempts team2'].mean()
attempts_on_2

team2
ARGENTINA         9.500000
AUSTRALIA         1.666667
BELGIUM           4.000000
BRAZIL            8.500000
CAMEROON          3.000000
CANADA            3.000000
COSTA RICA        0.500000
CROATIA           3.000000
DENMARK           2.500000
ECUADOR           4.000000
ENGLAND           7.000000
FRANCE            4.333333
GERMANY           7.500000
GHANA             3.000000
IRAN              4.500000
JAPAN             3.000000
KOREA REPUBLIC    3.000000
MEXICO            5.500000
MOROCCO           2.250000
NETHERLANDS       3.000000
POLAND            2.000000
PORTUGAL          3.500000
QATAR             4.000000
SAUDI ARABIA      3.500000
SENEGAL           3.666667
SERBIA            3.000000
SPAIN             3.000000
SWITZERLAND       2.666667
TUNISIA           1.000000
UNITED STATES     4.666667
URUGUAY           5.000000
WALES             3.000000
Name: on target attempts team2, dtype: float64

In [34]:
Avg_attempts_on_target=(attempts_on_1+attempts_on_2)/2
Avg_attempts_on_target

team1
ARGENTINA         7.650000
AUSTRALIA         2.833333
BELGIUM           3.750000
BRAZIL            8.250000
CAMEROON          4.250000
CANADA            1.500000
COSTA RICA        3.250000
CROATIA           3.875000
DENMARK           3.250000
ECUADOR           4.000000
ENGLAND           6.000000
FRANCE            4.916667
GERMANY           8.250000
GHANA             3.500000
IRAN              3.250000
JAPAN             3.166667
KOREA REPUBLIC    4.500000
MEXICO            4.750000
MOROCCO           2.458333
NETHERLANDS       3.125000
POLAND            1.750000
PORTUGAL          4.750000
QATAR             2.500000
SAUDI ARABIA      2.750000
SENEGAL           3.333333
SERBIA            3.500000
SPAIN             4.000000
SWITZERLAND       2.833333
TUNISIA           2.250000
UNITED STATES     2.833333
URUGUAY           2.500000
WALES             2.500000
dtype: float64

## The average of â€˜off target attemptsâ€™ for each team

In [35]:
attempts_off_1=df.groupby('team1')['off target attempts team1'].mean()
attempts_off_1

team1
ARGENTINA          5.200000
AUSTRALIA          2.000000
BELGIUM            6.000000
BRAZIL             6.333333
CAMEROON           3.000000
CANADA             4.000000
COSTA RICA         1.000000
CROATIA            4.750000
DENMARK            4.000000
ECUADOR            3.000000
ENGLAND            3.750000
FRANCE             8.000000
GERMANY           11.000000
GHANA              4.000000
IRAN               4.000000
JAPAN              3.333333
KOREA REPUBLIC     6.000000
MEXICO             5.000000
MOROCCO            3.000000
NETHERLANDS        3.000000
POLAND             2.500000
PORTUGAL           4.000000
QATAR              6.000000
SAUDI ARABIA       8.000000
SENEGAL            8.000000
SERBIA             6.000000
SPAIN              6.000000
SWITZERLAND        4.000000
TUNISIA            3.500000
UNITED STATES      4.000000
URUGUAY            6.000000
WALES              3.500000
Name: off target attempts team1, dtype: float64

In [36]:
attempts_off_2=df.groupby('team2')['off target attempts team2'].mean()
attempts_off_2

team2
ARGENTINA          8.000000
AUSTRALIA          2.666667
BELGIUM            7.000000
BRAZIL             7.500000
CAMEROON           2.000000
CANADA             7.500000
COSTA RICA         0.500000
CROATIA            5.666667
DENMARK            6.500000
ECUADOR            3.000000
ENGLAND            6.000000
FRANCE             3.333333
GERMANY           11.000000
GHANA              4.000000
IRAN               5.000000
JAPAN              6.000000
KOREA REPUBLIC     3.500000
MEXICO             5.000000
MOROCCO            4.750000
NETHERLANDS        5.000000
POLAND             4.500000
PORTUGAL           6.000000
QATAR              2.000000
SAUDI ARABIA       4.500000
SENEGAL            6.666667
SERBIA             5.500000
SPAIN              4.500000
SWITZERLAND        3.666667
TUNISIA            7.000000
UNITED STATES      5.000000
URUGUAY            5.500000
WALES              3.000000
Name: off target attempts team2, dtype: float64

In [37]:
Avg_attempts_off_target=(attempts_off_1+attempts_off_2)/2
Avg_attempts_off_target

team1
ARGENTINA          6.600000
AUSTRALIA          2.333333
BELGIUM            6.500000
BRAZIL             6.916667
CAMEROON           2.500000
CANADA             5.750000
COSTA RICA         0.750000
CROATIA            5.208333
DENMARK            5.250000
ECUADOR            3.000000
ENGLAND            4.875000
FRANCE             5.666667
GERMANY           11.000000
GHANA              4.000000
IRAN               4.500000
JAPAN              4.666667
KOREA REPUBLIC     4.750000
MEXICO             5.000000
MOROCCO            3.875000
NETHERLANDS        4.000000
POLAND             3.500000
PORTUGAL           5.000000
QATAR              4.000000
SAUDI ARABIA       6.250000
SENEGAL            7.333333
SERBIA             5.750000
SPAIN              5.250000
SWITZERLAND        3.833333
TUNISIA            5.250000
UNITED STATES      4.500000
URUGUAY            5.750000
WALES              3.250000
dtype: float64

In [38]:
df[['attempts inside the penalty area team1','attempts inside the penalty area  team2',
    'attempts outside the penalty area  team1','attempts outside the penalty area  team2']]

,attempts inside the penalty area team1,attempts inside the penalty area team2,attempts outside the penalty area team1,attempts outside the penalty area team2
0,2,4,3,2
1,10,6,3,2
2,7,5,7,4
3,4,5,2,2
4,10,3,4,0
...,...,...,...,...
59,6,6,8,3
60,7,6,3,6
61,12,8,2,5
62,7,5,7,2
63,10,7,11,3

## The average of â€˜attempts inside the penalty area â€™ for each team

In [39]:
attempts_inside_1=df.groupby('team1')['attempts inside the penalty area team1'].mean()
attempts_inside_1

team1
ARGENTINA          8.000000
AUSTRALIA          3.000000
BELGIUM            5.500000
BRAZIL            10.333333
CAMEROON           7.000000
CANADA             4.000000
COSTA RICA         6.000000
CROATIA            7.000000
DENMARK            7.000000
ECUADOR            5.000000
ENGLAND            7.250000
FRANCE            14.000000
GERMANY           15.000000
GHANA              4.000000
IRAN               5.000000
JAPAN              5.333333
KOREA REPUBLIC    10.500000
MEXICO            10.000000
MOROCCO            3.666667
NETHERLANDS        5.000000
POLAND             5.000000
PORTUGAL           6.666667
QATAR              3.000000
SAUDI ARABIA       6.000000
SENEGAL            7.000000
SERBIA            10.000000
SPAIN              7.500000
SWITZERLAND        6.000000
TUNISIA            5.500000
UNITED STATES      4.000000
URUGUAY            7.000000
WALES              3.000000
Name: attempts inside the penalty area team1, dtype: float64

In [40]:
attempts_inside_2=df.groupby('team2')['attempts inside the penalty area  team2'].mean()
attempts_inside_2

team2
ARGENTINA         13.000000
AUSTRALIA          3.333333
BELGIUM           12.000000
BRAZIL            13.000000
CAMEROON           6.000000
CANADA             9.000000
COSTA RICA         0.500000
CROATIA            6.333333
DENMARK            8.000000
ECUADOR            6.000000
ENGLAND           13.000000
FRANCE             5.666667
GERMANY           15.500000
GHANA              4.500000
IRAN               6.500000
JAPAN             10.000000
KOREA REPUBLIC     3.500000
MEXICO             5.500000
MOROCCO            5.750000
NETHERLANDS        5.000000
POLAND             7.500000
PORTUGAL           6.000000
QATAR              2.000000
SAUDI ARABIA       6.000000
SENEGAL            8.333333
SERBIA             6.000000
SPAIN              8.000000
SWITZERLAND        5.666667
TUNISIA            6.000000
UNITED STATES      8.333333
URUGUAY            6.500000
WALES              5.000000
Name: attempts inside the penalty area  team2, dtype: float64

In [41]:
Avg_attempts_inside_penalty_area=(attempts_inside_1+attempts_inside_2)/2
Avg_attempts_inside_penalty_area

team1
ARGENTINA         10.500000
AUSTRALIA          3.166667
BELGIUM            8.750000
BRAZIL            11.666667
CAMEROON           6.500000
CANADA             6.500000
COSTA RICA         3.250000
CROATIA            6.666667
DENMARK            7.500000
ECUADOR            5.500000
ENGLAND           10.125000
FRANCE             9.833333
GERMANY           15.250000
GHANA              4.250000
IRAN               5.750000
JAPAN              7.666667
KOREA REPUBLIC     7.000000
MEXICO             7.750000
MOROCCO            4.708333
NETHERLANDS        5.000000
POLAND             6.250000
PORTUGAL           6.333333
QATAR              2.500000
SAUDI ARABIA       6.000000
SENEGAL            7.666667
SERBIA             8.000000
SPAIN              7.750000
SWITZERLAND        5.833333
TUNISIA            5.750000
UNITED STATES      6.166667
URUGUAY            6.750000
WALES              4.000000
dtype: float64

## The average of â€˜attempts outside the penalty area â€™ for each team

In [42]:
attempts_outside_1=df.groupby('team1')['attempts outside the penalty area  team1'].mean()
attempts_outside_1

team1
ARGENTINA          4.800000
AUSTRALIA          5.000000
BELGIUM            4.000000
BRAZIL             6.666667
CAMEROON           3.000000
CANADA             1.000000
COSTA RICA         2.000000
CROATIA            4.750000
DENMARK            4.000000
ECUADOR            3.000000
ENGLAND            3.500000
FRANCE             4.250000
GERMANY           10.000000
GHANA              5.000000
IRAN               1.000000
JAPAN              5.333333
KOREA REPUBLIC     6.000000
MEXICO             3.000000
MOROCCO            4.000000
NETHERLANDS        2.750000
POLAND             1.000000
PORTUGAL           6.333333
QATAR              4.500000
SAUDI ARABIA       4.000000
SENEGAL            7.000000
SERBIA             1.000000
SPAIN              4.500000
SWITZERLAND        2.000000
TUNISIA            3.500000
UNITED STATES      2.000000
URUGUAY            3.000000
WALES              5.500000
Name: attempts outside the penalty area  team1, dtype: float64

In [43]:
attempts_outside_2=df.groupby('team2')['attempts outside the penalty area  team2'].mean()
attempts_outside_2

team2
ARGENTINA         7.000000
AUSTRALIA         2.333333
BELGIUM           3.000000
BRAZIL            6.500000
CAMEROON          1.000000
CANADA            6.000000
COSTA RICA        1.500000
CROATIA           5.000000
DENMARK           4.000000
ECUADOR           3.500000
ENGLAND           4.000000
FRANCE            3.666667
GERMANY           5.500000
GHANA             3.500000
IRAN              8.000000
JAPAN             0.000000
KOREA REPUBLIC    4.500000
MEXICO            9.000000
MOROCCO           3.750000
NETHERLANDS       4.000000
POLAND            2.000000
PORTUGAL          5.500000
QATAR             4.000000
SAUDI ARABIA      3.500000
SENEGAL           4.000000
SERBIA            4.000000
SPAIN             5.500000
SWITZERLAND       3.666667
TUNISIA           5.000000
UNITED STATES     5.000000
URUGUAY           4.500000
WALES             2.000000
Name: attempts outside the penalty area  team2, dtype: float64

In [44]:
Avg_attempts_outside_penalty_area=(attempts_outside_1+attempts_outside_2)/2
Avg_attempts_outside_penalty_area

team1
ARGENTINA         5.900000
AUSTRALIA         3.666667
BELGIUM           3.500000
BRAZIL            6.583333
CAMEROON          2.000000
CANADA            3.500000
COSTA RICA        1.750000
CROATIA           4.875000
DENMARK           4.000000
ECUADOR           3.250000
ENGLAND           3.750000
FRANCE            3.958333
GERMANY           7.750000
GHANA             4.250000
IRAN              4.500000
JAPAN             2.666667
KOREA REPUBLIC    5.250000
MEXICO            6.000000
MOROCCO           3.875000
NETHERLANDS       3.375000
POLAND            1.500000
PORTUGAL          5.916667
QATAR             4.250000
SAUDI ARABIA      3.750000
SENEGAL           5.500000
SERBIA            2.500000
SPAIN             5.000000
SWITZERLAND       2.833333
TUNISIA           4.250000
UNITED STATES     3.500000
URUGUAY           3.750000
WALES             3.750000
dtype: float64

## The report the goals based on â€˜categoryâ€™

In [45]:
df['goals']=df['number of goals team1']+df['number of goals team2']

In [46]:
df.pivot_table('goals',index='category',aggfunc='sum',fill_value=0,margins=True)#aggfunc='sum'

                          goals
category
Final                         6
Group A                      15
Group B                      16
Group C                      12
Group D                      11
Group E                      22
Group F                      11
Group G                      16
Group H                      17
Play-off for third place      3
Quarter-final                10
Round of 16                  28
Semi-final                    5
All                         172